{% extends "layout.html" %}

{% comment %} url :--    http://127.0.0.1:8000/IPO_APP/broker/    {% endcomment %}

<!-- title block-->

{% block title %}BROKER{% endblock title %}

<!-- item-1 block-->

{% block item-1 %}
    <li class="nav-item">
        <a class="nav-link pe-4" aria-current="page" href="#">PRODUCTS</a>
    </li>
{% endblock  %}

<!-- Dropdown block-->

{% block Dropdown %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle pe-4" href="#" id="product" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MEDIA
        </a>
        <ul class="dropdown-menu nav-item" aria-labelledby="product">
            <li><a class="nav-link dropdown-item" href="#">MEDIA 1</a></li>
            <li><a class="nav-link dropdown-item" href="#">MEDIA 2</a></li>
        </ul>
    </li>
{% endblock %}

<!-- Content block-->

{% block content %}
    <h1>Broker</h1>
{% endblock content %}
